*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    color: #ffffff;
    max-width: 375px;
    background: #0a0a0a;
    min-height: auto;
    font-family: Inter, sans-serif;
}

/*navegacion*/

.header_principal{
    padding: 20px 16px 8px;
}
.texto_blanco_cine{
    color: #ffffff;
}
.texto_verde_nur{
    color: #a3e635;
}

/*Contenido*/
.contenido_principal{
    padding: 0 16px 16px;
}

/*carrusel*/
.carrusel{
    padding-top: 12px;
}

.tarjeta_peli_destacada{
    height: 172px;
    overflow: hidden;
    border-radius: 16px;
    position: relative;

}
.img_destacada{
    width: 100%;
    height: 172px;
    object-fit: cover;
}
.titulo_destacado{
    padding: 16px;
    display: flex;
    bottom: 0;
    position: absolute;
    letter-spacing: -0.439px;
}

.animacion_carrusel{
    padding-top: 12px;
    gap: 8px;
    display: flex;
    justify-content: center;
}
.punto_carrusel,
.punto_carrusel_activo{
    padding: 0;
    height: 8px;
    border: none;
    cursor: pointer;
    border-radius: 9999px;
}
.punto_carrusel{
    width: 8px;
    background: rgba(255, 255, 255, 0.25);
}
.punto_carrusel_activo{
    width: 20px;
    background: #a3e635;
}

.titulo_contenedor_cartelera{
    padding-top: 28px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: -0.45px;
}

.cuadricula_peliculas{
    padding-top: 12px;
    gap: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.enlace_pelicula{
    color: #ffffff;
    text-decoration: none;
}
.tarjeta_pelicula{
    overflow: hidden;
    background: #1e1e1e;
    border-radius: 14px;
    box-shadow:
        0 0 0 1px rgba(255, 255, 255, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.1),
        0 1px 2px -1px rgba(0, 0, 0, 0.1);
 }

.contenedor_poster img{
    width: 100%;
    height: 248px;
    display: block;
    object-fit: cover;
}
.nombre_pelicula{
    padding: 10px 12px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: -0.15px;
}




